<div class="d-flex justify-content-center align-items-center w-100 main-login">
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="d-flex justify-content-center align-items-center shadow p-3 rounded login-form"
  >
    <h2>Reset Password</h2>

    <mat-form-field class="form-input">
      <mat-label>New Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="newPassword"
        placeholder="Enter new password"
      />
      <mat-error
      *ngIf="
        resetPasswordForm.get('newPassword')?.hasError('required')
      "
    >
    New password is required
    </mat-error>
    <mat-error
      *ngIf="
        !resetPasswordForm.get('newPassword')?.hasError('required') &&
        resetPasswordForm.controls['newPassword'].hasError(
          'strong_password'
        )
      "
    >
     New password must be of 6 – 8 characters and contains 1
      uppercase, 1 lowercase, 1 number and 1 special character
    </mat-error>
    </mat-form-field>

    <mat-form-field class="form-input mt-3">
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        placeholder="Enter confirm password"
      />
      <mat-error
      *ngIf="
        resetPasswordForm
          .get('confirmPassword')
          ?.hasError('required')
      "
    >
      Please enter confirm password
    </mat-error>

    <mat-error
      *ngIf="
        resetPasswordForm.controls[
          'confirmPassword'
        ].hasError('confirmPasswordError') &&
        resetPasswordForm.controls['newPassword'].touched
      "
    >
      Confirm password does not match with new password
    </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      class="btn btn-primary mt-5"
      color="primary"
      type="submit"
      [disabled]="!resetPasswordForm.valid"
    >
      Submit
    </button>
    <span class="redirection-link"
      >Go to <a class="text-decoration-none" routerLink="/login">Login</a></span
    >
  </form>
</div>
