<div class="d-flex justify-content-center align-items-center w-100 main-login">
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="d-flex justify-content-center align-items-center shadow p-3 rounded login-form"
  >
    <h2>Forgot Password</h2>
    <mat-form-field class="form-input">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        formControlName="email"
        placeholder="Enter email"
      />
      <mat-error
        *ngIf="
          forgotPasswordForm.get('email')?.hasError('required') ||
          forgotPasswordForm.get('email')?.touched
        "
      >
        Email is required
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      class="btn btn-primary"
      color="primary"
      type="submit"
      [disabled]="!forgotPasswordForm.valid"
    >
      Submit
    </button>
    <span class="redirection-link"
      >Go to <a class="text-decoration-none" routerLink="/login">Login</a></span
    >
  </form>
</div>
